:root {
  --black: rgb(17, 11, 34);
  /* --blue-dark: rgb(81, 140, 151);
  --blue-light: rgb(111, 173, 185);
  --blue: rgb(107, 171, 184) */
  --blue: #03dac6;
  --diamond: rgb(147, 157, 196);
  --ember-dark: rgb(207, 73, 46);
  --ember: rgb(225, 93, 68);
  --gray-dark: rgb(33, 26, 51);
  --gray-light: rgb(226, 220, 211);
  --gray: rgb(106, 108, 135);
  --orange-light: rgb(243, 172, 106);
  --orange-xlight: rgb(242, 193, 170);
  --orange: rgb(247, 165, 89);
  --paragraph-dark: rgb(180, 171, 197);
  --paragraph-light: rgb(233, 227, 243);
  --paragraph: rgb(209, 201, 224);
  --primary-dark: rgb(6, 3, 14);
  --primary-light: rgb(33, 26, 51);
  --primary-xlight: rgb(57, 48, 78);
  --primary: rgb(17, 11, 34);
  --purple-light: rgb(162, 147, 192);
  --purple: rgb(153, 139, 184);
  --secondary-paragraph: rgb(77, 75, 73);
  --secondary: rgb(255, 250, 245);
  --silver: rgb(159, 161, 167);
  --white: rgb(255, 250, 245);
  --font-body: 'Assistant', 'Interface', sans-serif;
  --font-header: 'Assistant', sans-serif;
  --font-code: 'Codelia', monospace;
}
*,*:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-flow: row wrap;
  font-family: var(--font-body);
  font-size: 1.333rem;
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
  padding: 0;
}
header, main, footer {
  padding: 0 1rem;
  width: 100%;
}
main {
  min-height: 90vh;
}
main article, header h1 {
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 40em) {
  main article, header h1 {
    width: 90%;
    max-width: 1280px;
  }
}

footer {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer p {
  border-top: 1px solid var(--blue);
  padding: 1em;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--font-header);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
  align-content: center;
  background-color: transparent;
  color: var(--ember);
  display: flex;
  flex-flow: row wrap;
}

h2 {
  font-size: 3.157rem;
  background-color: transparent;
  color: var(--blue);
}

h3, .h3 {font-size: 2.369rem;}

h4, .h4 {font-size: 1.777rem;}

h5, .h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

ul, ol {
  font-size: 1.414rem;
  line-height: 1.7;
}

a {
  color: var(--orange);
}
a:visited {
  color: var(--orange-light);
}

.iframe-video {
  display: flex;
  justify-content: center;
  margin: auto;
}

.we-card__container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 0;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 0.5rem;
}
.we-card {
  align-items: stretch;
  justify-content: flex-start;
  display: flex;
  margin: 0;
  border: 3px solid var(--blue);
  flex-flow: row wrap;
  flex: 1 1 25%;
  border-radius: 6px;
}
.we-card dd {
  background-color: transparent;
  color: var(--ember);
  font-size: 1.777rem;
  height: fit-content;
  line-height: 1;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  width: 100%;
}
.we-card dt {
  width: 100%;
  padding: 0 1rem 0.5rem;
  line-height: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
