{{page-title "Awesome Ember Addons, 2021 Edition"}}
<article>
  <p class="intro">There are a lot of awesome Ember addons that help making an Ember app even easier. Just in time for end-of-year calendar countdowns, here are 24 of the best Ember addons to add to your app.</p>
  <h2>The Best Ember Addons in 2021</h2>
  <ul class="grid">
    <WeGridItem @addonName="ember-a11y-refocus" @addonNum="1" @addonUrl="https://github.com/ember-a11y/ember-a11y-refocus">
      <p>This addon provides accessible route navigation for assistive technology! It does three things: it adds a message letting the screen reader user know that the route has successfully changed; it automatically moves focus to that message, and it provides a bypass mechanism (often called a "skip link") so that the user can choose to skip to the page's primary content.</p>
     </WeGridItem>

    <WeGridItem @addonName="ember-concurrency" @addonNum="2" @addonUrl="https://github.com/machty/ember-concurrency">
      <p>This is <em>the</em> addon that makes it easy to write concise, robust, and beautiful asynchronous code. It provides you with a powerful Task primitive, which...well, go read about it! It's one of the most popular Ember addons for a reason.</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-cli-typescript" @addonNum="3" @addonUrl="https://github.com/typed-ember/ember-cli-typescript">
      <p>This addon helps you to embrace the power of typescript in your Ember apps. As <a href="https://github.com/gitKrystan" rel="external">Krystan Huffmenne</a> says... typed Ember extends confidence! (<a href="https://www.youtube.com/watch?v=YnYay0NWl38" rel="external">watch the video</a>)</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-a11y-testing" @addonNum="4" @addonUrl="https://github.com/ember-a11y/ember-a11y-testing">
      <p>This addon is a wrapper around Deque Labs' axe-core accessibility testing engine. It integrates into your testing environment using either a one-time setup, or in individual tests using an a11yAudit() test helper.
      </p>
    </WeGridItem>

    <WeGridItem @addonName="ember-animated" @addonNum="5" @addonUrl="https://github.com/ember-animation/ember-animated">
      <p>This addon adds animation with minimal changes to your existing application code. It's relatively straight-forward to implement and won't get in the way of accessible routing.
      </p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-cli-autoprefixer" @addonNum="6" @addonUrl="https://github.com/kimroen/ember-cli-autoprefixer">
      <p>This addon runs the styles of your Ember app through Autoprefixer, so that's one less thing for you to worry about!</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-cli-markdown-it-templates" @addonNum="7" @addonUrl="https://github.com/ryedeer/ember-cli-markdown-templates">
      <p>Have you ever wished you could "just" put markdown into your templates? This addon allows you to add an .md file to your component folder, and invoke the markdown file in your template just like a component! There are some nice options in this addon, and we hope the maintainers will get it ready for Embroider!</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-cli-sass" @addonNum="8" @addonUrl="https://github.com/adopted-ember-addons/ember-cli-sass">
      <p>This long-lived Ember addon helps you add the power of scss/sass to your Ember apps, with all the bells and whistles you've come to expect.</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-engines" @addonNum="9" @addonUrl="https://github.com/ember-engines/ember-engines">
      <p>Engines allow multiple logical applications to be composed together into a single application from the user's perspective...super useful!</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-intl" @addonNum="10" @addonUrl="https://github.com/ember-intl/ember-intl">
      <p>This is a localization library for any Ember App or Addon- make it easier to make your app extend its global reach! Check for supporting addons that will check for translation string duplicates, too.</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-cookies" @addonNum="11" @addonUrl="https://github.com/simplabs/ember-cookies">
      <p>Sometimes you need to put cookies in your app. This addon proides a cookies abstraction for Ember.js that works both in the browser as well as with Fastboot on the server.</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-file-upload" @addonNum="12" @addonUrl="https://github.com/adopted-ember-addons/ember-file-upload">
      <p>The ember-file-upload addon takes the headache out of the file upload feature implementation. Uploads continue in the background, even after a page transition,persisting across routes in your application.</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-highcharts" @addonNum="13" @addonUrl="https://github.com/ahmadsoe/ember-highcharts">
      <p>There are a few chart options, but we like highcharts because of their specific work on accessibility.</p>  
    </WeGridItem>
    
    <WeGridItem @addonName="ember-keyboard" @addonNum="14" @addonUrl="https://github.com/adopted-ember-addons/ember-keyboard">
      <p>Add keyboard events to your Ember app.</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-cli-netlify" @addonNum="15" @addonUrl="https://github.com/shipshapecode/ember-cli-netlify">
      <p>With Ember + Netlify, you can create and deploy a default app in a matter of minutes (under five minutes, we counted!). Use the ember-cli-netlify addon to make sure Netlify understands how your app's routes should work.</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-cli-dependency-lint" @addonNum="16" @addonUrl="https://github.com/salsify/ember-cli-dependency-lint">
      <p>Dependency management can be frustrating, but this addon eases some of that burden. It adds lint tests that verify only one version of any given addon will be activated in the final built application. Phew!</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-cli-postcss" @addonNum="17" @addonUrl="https://github.com/jeffjewiss/ember-cli-postcss">
      <p>Of course, if sass isn't your thing, postcss might be! Use postcss to process your css with a large selection of plug-ins. Useful when combined with tailwind, too!</p>  
    </WeGridItem>

    <WeGridItem @addonName="ember-select-light" @addonNum="18" @addonUrl="https://github.com/ember-a11y/ember-select-light">
      <p>Sometimes, you just want a simple, native select element that's accessible. Look no further than ember-select-light, all Octane-powered and ready to go.</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-simple-auth" @addonNum="19" @addonUrl="https://github.com/simplabs/ember-simple-auth">
      <p>I don't always add authentication to my apps, but when I do, I reach for ember-simple-auth. After trying it out, you will too.</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-sortable" @addonNum="20" @addonUrl="https://github.com/adopted-ember-addons/ember-sortable">
      <p>Have you ever wanted a way to add accessible sorting to your ui? Look no further than ember-sortable. It has keyboard support and the community has done a great job at incremental improvements.</p>
    </WeGridItem>

    <WeGridItem @addonName="empress/field-guide" @addonNum="21" @addonUrl="https://github.com/empress/field-guide">
      <p>Want an SEO-friendly static site for your design system's documentation site? Field-guide fits seamlessly into your design system, making it simple to provide your users with what they need to use your awesome design system. We think the <a href="https://emberjs.com/images/tomsters/empress750w-891c1c271a9ea7f4db1927c71cb28dfc.webp" rel="external">Empress Zoey</a> is the best Zoey, too.</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-fastboot" @addonNum="22" @addonUrl="https://github.com/ember-fastboot/ember-cli-fastboot">
      <p>Server-side rendering for your Ember apps. 'Nuff said.</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-validity-modifier" @addonNum="23" @addonUrl="https://github.com/sukima/ember-validity-modifier">
      <p>A very simple validation addon using a custom modifier. This makes adding custom validations to form elements as simple as adding a modifier to the field along with your own helper or validation function.</p>
    </WeGridItem>

    <WeGridItem @addonName="ember-truth-helpers" @addonNum="24" @addonUrl="https://github.com/jmurphyau/ember-truth-helpers">
      <p>Ever wished that you could say "if eq" in your templates? Well, until it's in Ember by default, add ember-truth-helpers to your app and get all sorts of convenient helpers. Be more productive than ever.</p>
    </WeGridItem>
  </ul>
</article>