{{page-title "Awesome Ember Addons, 2021 Edition"}}
<article>
  <p class="intro">There are a lot of awesome Ember addons that help making an Ember app even easier. Just in time for end of year calendars, here are my picks for the top 24 Ember addons.</p>
  <h2>The Best Ember Addons in 2021</h2>
  <ul class="grid">
    <li>@ember/test-helpers</li>
    <li>ember-a11y-refocus</li>
    <li>ember-a11y-testing</li>
    <li>ember-animated</li>
    <li>ember-cli-autoprefixer</li>
    <li>ember-cli-deploy-cloudfront</li>
    <li>ember-cli-markdown-it-templates</li>
    <li>ember-cli-sass</li>
    <li>ember-cli-typescript</li>
    <li>ember-concurrency</li>
    <li>ember-engines</li>
    <li>ember-exam</li>
    <li>ember-file-upload</li>
    <li>ember-highcharts</li>
    <li>ember-intl</li>
    <li>ember-keyboard</li>
    <li>ember-metrics</li>
    <li>ember-octicons</li>
    <li>ember-orbit</li>
    <li>ember-select-light</li>
    <li>ember-simple-auth</li>
    <li>ember-sortable</li>
    <li>empress/field-guide</li>
    <li>fastboot</li>
  </ul>
  <p>Want to try them out? Type <code>$ ember install addon-name</code> and Ember installs everything for you!</p>
</article>