{{page-title "Why Ember"}}

<header>
  <NavigationNarrator/>
  {{!-- <nav>
    <ul class="nav-ul">
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="addons.2021">Awesome Addons</LinkTo></li>
      <li><LinkTo @route="ember-for-react-developers">Ember For React Devs</LinkTo></li>
    </ul>
  </nav> --}}
  <h1>Why Ember?</h1>
</header>

<main id="main">
  {{outlet}}
</main>
<footer>
  <p>This site intends to be completely accessible. If you find a problem, please visit our <a href="https://github.com/melsumner/why-ember">GitHub Repository</a> and file an issue.</p>
</footer>