{{page-title "WhyEmber"}}

<header>
  <h1>>> Why Ember?</h1>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <p>This site intends to be completely accessible. If you find a problem, please visit our <a href="https://github.com/melsumner/why-ember">GitHub Repository</a> and file an issue.</p>
</footer>