{{page-title "Reasons to use Ember"}}
<article>
  <p class="intro">Ember is a JavaScript framework that provides everything you need to build a modern web application. While there are lots of reasons to use Ember, the number one reason is this: you'll gain developer productivity by escaping the hype cycle.</p>

  <h2 class="border-bottom">Watch The Documentary</h2>
  <p>Originally named <a href="https://news.ycombinator.com/item?id=3329745" rel="external">Amber.js</a>, the framework was released on December 8th, 2011. After <a href="https://news.ycombinator.com/item?id=3335916" rel="external">some discussion, it was re-named</a> to Ember.js on December 12th.</p>
  <p>Start to learn about Ember by getting to know the history of the framework; its roots may surprise you! In this embedded YouTube video (captions available), made by Honeypot, the creators of the framework talk about the history of Ember, and various community members weigh in with their thoughts about the framework.
  </p>
  <p><strong>TL;DR? With a focus on community and shared solutions, Ember is "the together framework."</strong></p>

  <iframe class="iframe-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Cvz-9ccflKQ" title="YouTube video player: EmberJS the documentary by Honeypot" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <WeQuote @quoteText="It doesn't matter what kind of site I need to build, Ember has me covered. From SSR to static sites and everything in between, I stay productive without the need for a massive context shift." />

  <h2>The Benefits of Ember</h2>
  <dl class="we-card__container">
    <div class="we-card">
      <dt>Community Owned</dt>
      <dd>No company owns Ember. Ember is free, open source, and always will be. The community is supportive, caring, and has a solid code of conduct.</dd>
    </div>
    <div class="we-card">
      <dt>Backwards Compatibility</dt>
      <dd>We don't think that upgrading to the latest version of Ember should break your code. That's why we make new features backwards compatible, and provide a clear upgrade path for our users.</dd>
    </div>
    <div class="we-card">
      <dt>Zero Configuration</dt>
      <dd>By embracing the idea of "convention over configuration", using Ember means you can be productive from day one. No config required.</dd>
    </div>
    <div class="we-card">
      <dt>Pragmatic Solutions</dt>
      <dd>By building on the foundations of the web, the pragmatic, community-driven solutions means that your team can have a wide range of experience and still be successful.</dd>
    </div>
    <div class="we-card">
      <dt>Happy Paths</dt>
      <dd>In Ember, the happy paths are well-lit. The official guides lay out everything you need to know to successfully build an app. See something missing? Anyone can open a pull-request to edit it! </dd>
    </div>
    <div class="we-card">
      <dt>Native Web</dt>
      <dd>Layer your JavaScript on top of HTML. Really! Not only is it completely supported, but it's Ember by default. Native CSS too, keeping all your concerns appropriately separated. #useThePlatform</dd>
    </div>
    <div class="we-card">
      <dt>Accessible</dt>
      <dd>Ember's committment to accessibility means we won't ship new features without including accessibility. Accessibility is both part of our official guides, and we strive to make the guides themselves accessible, too. We're also the first framework to support accessibility checks for both static and dynamic code, through libraries like ember-template-lint and ember-a11y-testing.</dd>
    </div>
  </dl>

  <WeQuote @quoteText="The EmberJS community is what makes Ember special. Not only does the community provide help and support for the technology, it sets a tone and shapes a culture that is intentional and invested in long term success and stability. Those core values permeate everything else." />

  <h2 class="border-bottom">Official Resources</h2>

  <WeQuote @quoteText="The official guides are the best docs I've ever seen. The cheat sheet for the Octane edition of Ember was super helpful because I could see side-by-side code samples to help me upgrade my code." />

  <p>Want to try it out? Here are some official resources to get you started!</p>
  <ul>
    <li>Visit the GitHub repositories for <a href="https://github.com/emberjs/ember.js" rel="external">ember.js</a>, <a href="https://github.com/ember-cli/ember-cli" rel="external">ember-cli</a> and <a href="https://github.com/emberjs/data" rel="external">ember-data</a>; read the source code for yourself!</li>
    <li><a href="https://emberjs.com" rel="external">The Ember website</a>: the offical Ember website, home of the documentation, and all the info you need to get started with Ember.</li>
    <li><a href="https://discord.gg/emberjs" rel="external">The Ember Discord server</a>, the <em>best</em> place to connect with the community and find the answers to your Ember questions.</li>
    <li><a href="https://emberobserver.com" rel="external">Ember Observer</a>, the perfect place to find the right Ember addon for your project.</li>
    <li><a href="https://embertimes.substack.com/" rel="external">The Ember Times</a>: subscribe to The Ember Times, your source for Ember news.</li>
  </ul>

</article>