{{page-title "Reasons to use Ember"}}
<article>
  <p>Ember is a JavaScript framework that provides everything you need to build a website. Sometimes people want to know the reasons why they should use Ember on their next project; this site intends to be that convenient resource.</p>

  <h2>Watch The Documentary</h2>
  <p>Start to learn about Ember by getting to know the history of the framework; its roots may surprise you! In this embedded YouTube video (captions available), made by Honeypot, the creators of the framework talk about the history of Ember, and various community members weigh in with their thoughts about the framework.
  </p>
  <p>TL;DR? With a focus on community and shared solutions, Ember is "the together framework."</p>
  <iframe class="iframe-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Cvz-9ccflKQ" title="YouTube video player: EmberJS the documentary by Honeypot" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h2>Benefits of Ember</h2>
  <dl class="we-card__container">
    <div class="we-card">
      <dd>Community Owned</dd>
      <dt>No company owns Ember. Ember is free, open source, and always will be. The community is supportive, caring, and has a solid code of conduct.</dt>
    </div>
    <div class="we-card">
      <dd>Backwards Compatibility</dd>
      <dt>We don't think that upgrading to the latest version of Ember should break your code. That's why we make new features backwards compatible, and provide a clear upgrade path for our users.</dt>
    </div>
    <div class="we-card">
      <dd>Zero Configuration</dd>
      <dt>By embracing the idea of "convention over configuration", using Ember means you can be productive from day one. No config required.</dt>
    </div>
    <div class="we-card">
      <dd>Pragmatic Solutions</dd>
      <dt>By building on the foundations of the web, the pragmatic, community-driven solutions means that your team can have a wide range of experience and still be successful.</dt>
    </div>
    <div class="we-card">
      <dd>Happy Paths</dd>
      <dt>In Ember, the happy paths are well-lit. The official guides lay out everything you need to know to successfully build an app. See something missing? Anyone can open a pull-request to edit it!</dt>
    </div>
    <div class="we-card">
      <dd>Native Web</dd>
      <dt>Layer your JavaScript on top of HTML. Really! Not only is it completely supported, but it's Ember by default. Native CSS too, keeping all your concerns appropriately separated. #useThePlatform</dt>
    </div>
    <div class="we-card">
      <dd>Accessible</dd>
      <dt>Ember's committment to accessibility means we won't ship new features without including accessibility. We're the first framework to support both static and dynamic code analysis, too.</dt>
    </div>
  </dl>

  <h2>Official Resources</h2>
  <p>These are the official resources for Ember:</p>
  <ul>
    <li><a href="https://github.com/emberjs/" rel="external">The GitHub repository</a>; read the source code!</li>
    <li><a href="https://emberjs.com" rel="external">The Ember website</a>: the offical Ember website, home of the documentation, and all the info you need to get started with Ember.</li>
    <li><a href="https://discord.gg/emberjs" rel="external">The Ember Discord server</a>, the <em>best</em> place to connect with the community and find the answers to your Ember questions.</li>
    <li><a href="https://emberobserver.com" rel="external">Ember Observer</a>, the perfect place to find the right Ember addon for your project.</li>
    <li><a href="https://embertimes.substack.com/" rel="external">The Ember Times</a>: subscribe to The Ember Times, your source for Ember news.</li>
  </ul>
</article>