{{page-title "Why Ember?"}}
<article>
  <p>Ember is a JavaScript framework that provides everything you need to build a website. Sometimes people want to know the reasons why they should use Ember on their next project; this site intends to be that convenient resource.</p>

  <h2>Watch The Documentary</h2>
  <p>Start to learn about Ember by getting to know the history of the framework; its roots may surprise you! In this embedded YouTube video (captions available), made by Honeypot, the creators of the framework talk about the history of Ember, and various community members weigh in with their thoughts about the framework.
  </p>
  <p>TL;DR? With a focus on community and shared solutions, Ember is "the together framework."</p>
  <iframe class="iframe-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Cvz-9ccflKQ" title="YouTube video player: EmberJS the documentary by Honeypot" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <h2>Official Resources</h2>
  <p>These are the official resources for Ember:</p>
  <ul>
    <li><a href="https://github.com/emberjs/" rel="external">The GitHub repository</a>; read the source code!</li>
    <li><a href="https://emberjs.com" rel="external">The Ember website</a>: the offical Ember website, home of the documentation, and all the info you need to get started with Ember.</li>
    <li><a href="https://discord.gg/emberjs" rel="external">The Ember Discord server</a>, the <em>best</em> place to connect with the community and find the answers to your Ember questions.</li>
    <li><a href="https://emberobserver.com" rel="external">Ember Observer</a>, the perfect place to find the right Ember addon for your project.</li>
    <li><a href="https://embertimes.substack.com/" rel="external">The Ember Times</a>: subscribe to The Ember Times, your source for Ember news.</li>
  </ul>
</article>