{{page-title "Reasons to use Ember"}}
<article>
  <p class="intro">Ember is a JavaScript framework that provides everything you need to build a modern web application. While there are lots of reasons to use Ember, the number one reason is this: you'll gain developer productivity by escaping the churn of the hype cycle.</p>

  <WeQuote @quoteText="With Ember, I don't need to worry about the little things. My time is spent focused on the behavior of my application, not things like what state management library I should use or how I should structure my app. These are conversations I no longer need to have!" @cite="Jai Bhagat, Software Engineer" @citeUrl="https://twitter.com/ChaiWithJai" />

  <h2>The Benefits of Ember</h2>
  <dl class="we-card__container">
    <div class="we-card">
      <dt>You Are In Charge Of The Future</dt>
      <dd>No company owns Ember. Ember is free, open source, and always will be. The community is supportive, caring, and has a solid code of conduct. New features are considered through the Request For Consideration (RFC) process, and anyone can submit one. What's your next great idea?</dd>
    </div>
    <div class="we-card">
      <dt>Upgrade With Confidence</dt>
      <dd>We don't think that upgrading to the latest version of Ember should break your code. That's why we make new features backwards compatible! Ember provides a clear upgrade path for our users with tools like ember-cli-update. Paradigm shifts come with side-by-side code comparisons, too.</dd>
    </div>
    <div class="we-card">
      <dt>Pragmatic Solutions</dt>
      <dd>Ember focuses on solving real-world problems in a way that is approachable for all developers instead of designing entirely new paradigms that can be burdensome for developers to absorb into their workflow. Every new RFC has a section called “How do we teach this”, which helps the core team carefully consider the developer experience before shipping a new feature.</dd>
    </div>
    <div class="we-card">
      <dt>Your Accessibility Partner</dt>
      <dd>Ember's committment to accessibility (a11y) is steadfast. A11y is both part of our official guides, and we also strive to make the guides themselves accessible. We're also the first framework to support a11y checks for both static and dynamic code, through addons such as ember-template-lint and ember-a11y-testing. Our community's a11y working group remains focused on providing the correct solutions to help Ember developers deliver accessible applications.</dd>
    </div>
    <div class="we-card">
      <dt>You Probably Already Know A Lot</dt>
      <dd>Layer your JavaScript on top of HTML. Really! Not only is it completely supported, but it's Ember by default. URLs are king; nested routes can directly translate to well-designed URLs which makes it easier to consider information architecture in your application. Native CSS is the default, too, keeping all your concerns appropriately separated. #useThePlatform</dd>
    </div>
     <div class="we-card">
      <dt>Be Productive On Day One</dt>
      <dd>By embracing the idea of "convention over configuration", using Ember means you can be productive from day one...no config required. Strong default conventions means we've already done the research and know what most apps need, most of the time.</dd>
    </div>
    <div class="we-card">
      <dt>Find Success In The Happy Paths, With Room To Explore.</dt>
      <dd>In Ember, the happy paths are well-lit. The official guides lay out everything you need to know to successfully build an app. See something missing? Anyone can open a pull-request to edit the content! The shared solution just not work for you? There is also a lot of room to explore and customize your Ember experience, if that's what you want to do.</dd>
    </div>

  </dl>

  <WeQuote @quoteText="The EmberJS community is what makes Ember special. Not only does the community provide help and support for the technology, it sets a tone and shapes a culture that is intentional and invested in long term success and stability. Those core values permeate everything else." @cite="Mason Hale, CEO" @citeUrl="https://twitter.com/masonhale/status/1464662847347171335" />

  <h2 class="border-bottom">Watch The Documentary</h2>

  <p>Start to learn about Ember by getting to know the history of the framework; its roots may surprise you! In this embedded YouTube video (captions available), made by Honeypot, the creators of the framework talk about the history of Ember, and various community members weigh in with their thoughts about the framework.
  </p>

  <p>Did you know that Ember was originally named <a href="https://news.ycombinator.com/item?id=3329745" rel="external">Amber.js</a>? The framework was released on December 8th, 2011; but after <a href="https://news.ycombinator.com/item?id=3335916" rel="external">some discussion, it was re-named</a> to Ember.js on December 12th.</p>

  <iframe class="iframe-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Cvz-9ccflKQ" title="YouTube video player: EmberJS the documentary by Honeypot" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <WeQuote @quoteText="Why Ember? Because it the conventions get you building quickly and flexibility allows you to break conventions when necessary. Built-in testing, upgrade paths, and backwards compatibility are great for professionals who want to build robust, stable, and future-proof web applications. Top it off with strong community support and I'm all set." @cite="Sean Massa" @citeUrl="https://twitter.com/endangeredmassa" />

  <h2 class="border-bottom">Official Resources</h2>

  <p>Want know more? Here's some things to explore:</p>
  <ul>
    <li>Visit the GitHub repositories for <a href="https://github.com/emberjs/ember.js" rel="external">ember.js</a>, <a href="https://github.com/ember-cli/ember-cli" rel="external">ember-cli</a> and <a href="https://github.com/emberjs/data" rel="external">ember-data</a>; read the source code for yourself!</li>
    <li><a href="https://emberjs.com" rel="external">The Ember website</a>: the offical Ember website, home of the documentation, and all the info you need to get started with Ember.</li>
    <li><a href="https://discord.gg/emberjs" rel="external">The Ember Discord server</a>, the <em>best</em> place to connect with the community and find the answers to your Ember questions.</li>
    <li><a href="https://emberobserver.com" rel="external">Ember Observer</a>, the perfect place to find the right Ember addon for your project.</li>
    <li><a href="https://embertimes.substack.com/" rel="external">The Ember Times</a>: subscribe to The Ember Times, your source for Ember news.</li>
  </ul>

  <WeQuote @quoteText="To me, Ember is the together framework. The long-term stability gives me confidence that I will continue to be productive. The appeal is in the ability to participate and not only make ideas happen, but make room for others, too." @cite="Melanie Sumner, Accessibility Engineer" @citeUrl="https://twitter.com/melaniersumner" />

</article>
